  <form [formGroup]="form">
    <div class="flex flex-col">
        <p-toolbar [style]="{ 'border-radius': '1rem', padding: '1.5rem 1rem 1rem 1.5rem' }">
            <ng-template #start>
                <p-button icon="pi pi-print" (onClick)="print()" class="mr-2" severity="secondary" text />
                <p-button icon="pi pi-filter-slash" severity="secondary" text (onClick)="ngOnInit()" />
            </ng-template>

            <ng-template #center>
              
                <p-floatlabel>
                    <label style="margin-left: 1rem" htmlFor="Empresa">Sector</label>
                    <div class="p-float-label">
                        <p-dropdown (onChange)="onChange()" [style]="{ width: '100%' }" class="formTriple" [options]="Sector" id="Empresa" [required] optionLabel="tipo" optionValue="tipo" placeholder="Sector"></p-dropdown>
                    </div>
                </p-floatlabel>
                &nbsp;&nbsp;&nbsp;
                <p-floatlabel>
                    <label style="margin-left: 1rem" htmlFor="Empresa">Tipo de Equipo</label>
                    <div class="p-float-label">
                        <p-dropdown [style]="{ width: '100%' }" class="formTriple" [options]="tipoEquipo" id="Empresa" [required] optionLabel="tipo" optionValue="tipo" placeholder="Tipo de Equipo"></p-dropdown>
                    </div>
                </p-floatlabel>

                &nbsp;&nbsp;&nbsp;
                <p-floatlabel>
                    <p-calendar selectionMode="range" [style]="{ width: '100%' }" [readonlyInput]="true" class="formTriple" />
                    <label style="margin-left: 1rem" htmlFor="Empresa">Por rango de Fecha*</label>
                </p-floatlabel>
            </ng-template>

            <ng-template #end></ng-template>
        </p-toolbar>
    </div>

    <br />
  <div class="grid">

        <div class="col-14 lg:col-4">
            <div class="surface-card shadow-2 border-round p-4">
                <div
                    class="flex align-items-center justify-content-between mb-3">
                    <div
                        class="text-900 font-medium text-xl">
                        Regenerar</div>
                    <div>
                        <button pButton pRipple
                            icon="pi pi-ellipsis-v"
                            class="p-button-text p-button-plain p-button-rounded"></button>

                    </div>
                </div>
                <div class="card flex justify-content-center">
                    <p-chart type="pie" [data]="regenerar"
                        [options]="regenerarOptions" />

                </div>

            </div>
        </div>

        <div class="col-14 lg:col-4">
            <div class="surface-card shadow-2 border-round p-4">
                <div
                    class="flex align-items-center justify-content-between mb-3">
                    <div
                        class="text-900 font-medium text-xl">
                        Tratar</div>
                    <div>
                        <button pButton pRipple
                            icon="pi pi-ellipsis-v"
                            class="p-button-text p-button-plain p-button-rounded"></button>

                    </div>
                </div>
                <div class="card flex justify-content-center">
                    <p-chart type="pie" [data]="tratar"
                        [options]="tratarOptions" />

                </div>

            </div>
        </div>

        <div class="col-14 lg:col-4">
            <div class="surface-card shadow-2 border-round p-4">
                <div
                    class="flex align-items-center justify-content-between mb-3">
                    <div
                        class="text-900 font-medium text-xl">
                        Inhibidor</div>
                    <div>
                        <button pButton pRipple
                            icon="pi pi-ellipsis-v"
                            class="p-button-text p-button-plain p-button-rounded"></button>

                    </div>
                </div>
                <div class="card flex justify-content-center">
                    <p-chart type="pie" [data]="bar"
                        [options]="barOptions" />

                </div>

            </div>
        </div>

    </div>
  </form>