<form (submit)="onSubmit(modelo.id_FisicoQuimico)" [formGroup]="form">
    <br />
    <div class="flex flex-col md:flex-row gap-6">
        <p-inputgroup>
            <p-inputgroup-addon>
                <span class="material-symbols-outlined"> ppm </span>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber (ngModelChange)="completarAgua()" formControlName="contenidoAgua" inputId="locale-user" [minFractionDigits]="2" />

                <label for="contenidoAgua">Contenido Agua</label>
            </p-floatlabel>
        </p-inputgroup>
        <p-inputgroup>
            <p-inputgroup-addon>
                <mat-icon>info</mat-icon>
            </p-inputgroup-addon>
            <p-floatlabel>
                <input pInputText id="observacionesContenidoAgua" formControlName="observacionesContenidoAgua" pTooltip="Ingrese el ObservacionesContenidoAgua" tooltipPosition="bottom" />
                <label for="observacionesContenidoAgua">Observaciones</label>
            </p-floatlabel>
        </p-inputgroup>
        <p-inputgroup>
            <p-inputgroup-addon>
                <span class="material-symbols-outlined">KOH/g </span>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="indiceAcidez" inputId="locale-user" [minFractionDigits]="2" />
                <label for="indiceAcidez">Indice Acidez</label>
            </p-floatlabel>
        </p-inputgroup>
        <p-inputgroup>
            <p-inputgroup-addon>
                <mat-icon>info</mat-icon>
            </p-inputgroup-addon>
            <p-floatlabel>
                <input pInputText id="observacionesIndiceAcidez" formControlName="observacionesIndiceAcidez" pTooltip="Ingrese el ObservacionesIndiceAcidez" tooltipPosition="bottom" />
                <label for="observacionesIndiceAcidez">Observaciones</label>
            </p-floatlabel>
        </p-inputgroup>
    </div>
    <br />
    <br />
    <div class="flex flex-col md:flex-row gap-6">
        <p-inputgroup>
            <p-inputgroup-addon>
                <span class="material-symbols-outlined"> %peso </span>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="inhibidor" inputId="locale-user" [minFractionDigits]="2" />

                <label for="inhibidor">Inhibidor</label>
            </p-floatlabel>
        </p-inputgroup>
        <p-inputgroup>
            <p-inputgroup-addon>
                <mat-icon>info</mat-icon>
            </p-inputgroup-addon>
            <p-floatlabel>
                <input pInputText id="observacionesInhibidor" formControlName="observacionesInhibidor" pTooltip="Ingrese el ObservacionesInhibidor" tooltipPosition="bottom" />
                <label for="observacionesInhibidor">Observaciones</label>
            </p-floatlabel>
        </p-inputgroup>

        <p-inputgroup>
            <p-inputgroup-addon>
                <span class="material-symbols-outlined"> din/cm </span>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="tensionInterfasial" inputId="locale-user" [minFractionDigits]="2" />

                <label for="tensionInterfasial">Tensión Interfasial</label>
            </p-floatlabel>
        </p-inputgroup>
        <p-inputgroup>
            <p-inputgroup-addon>
                <mat-icon>info</mat-icon>
            </p-inputgroup-addon>
            <p-floatlabel>
                <input pInputText id="observacionesTensionInterfasial" formControlName="observacionesTensionInterfasial" pTooltip="Ingrese el ObservacionesTensionInterfasial" tooltipPosition="bottom" />
                <label for="observacionesTensionInterfasial">Observaciones</label>
            </p-floatlabel>
        </p-inputgroup>
    </div>
    <br />
    <br />
    <div class="flex flex-col md:flex-row gap-6">
        <p-inputgroup>
            <p-inputgroup-addon>
                <span class="material-symbols-outlined">kV </span>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="rigidezDielectrica" inputId="locale-user" [minFractionDigits]="2" />

                <label for="rigidezDielectrica">Rigidez Dielectrica</label>
            </p-floatlabel>
        </p-inputgroup>
        <p-inputgroup>
            <p-inputgroup-addon>
                <mat-icon>info</mat-icon>
            </p-inputgroup-addon>
            <p-floatlabel>
                <input pInputText id="observacionesRigidezDielectrica" formControlName="observacionesRigidezDielectrica" pTooltip="Ingrese el ObservacionesRigidezDielectrica" tooltipPosition="bottom" />
                <label for="observacionesRigidezDielectrica">Observaciones</label>
            </p-floatlabel>
        </p-inputgroup>

        <p-inputgroup>
            <p-inputgroup-addon>
                <span class="material-symbols-outlined">90°</span>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="tangente" inputId="locale-user" [minFractionDigits]="5" />

                <label for="tangente">Tangente</label>
            </p-floatlabel>
        </p-inputgroup>
        <p-inputgroup>
            <p-inputgroup-addon>
                <mat-icon>info</mat-icon>
            </p-inputgroup-addon>
            <p-floatlabel>
                <input pInputText id="observacionesTangente" formControlName="observacionesTangente" pTooltip="Ingrese el ObservacionesTangente" tooltipPosition="bottom" />
                <label for="observacionesTangente">Observaciones</label>
            </p-floatlabel>
        </p-inputgroup>
    </div>
    <br />
    <br />
    <div class="flex flex-col md:flex-row gap-6">
        <p-inputgroup>
            <p-inputgroup-addon>
                <span class="material-symbols-outlined">ASTM</span>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="color" inputId="locale-user" [minFractionDigits]="2" />

                <label for="color">Color</label>
            </p-floatlabel>
        </p-inputgroup>
        <p-inputgroup>
            <p-inputgroup-addon>
                <mat-icon>info</mat-icon>
            </p-inputgroup-addon>
            <p-floatlabel>
                <input pInputText id="observacionesColor" formControlName="observacionesColor" pTooltip="Ingrese el ObservacionesColor" tooltipPosition="bottom" />
                <label for="observacionesColor">Observaciones</label>
            </p-floatlabel>
        </p-inputgroup>
        <p-inputgroup>
            <p-inputgroup-addon>
            <mat-icon>water_drop</mat-icon>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="aguaCorregida" inputId="locale-user" [minFractionDigits]="2" />
                <label for="aguaCorregida">Agua Corregida</label>
            </p-floatlabel>
        </p-inputgroup>
        <p-inputgroup>
            <p-inputgroup-addon>
                   <mat-icon>invert_colors</mat-icon>
            </p-inputgroup-addon>
            <p-floatlabel>
        
                  <p-inputnumber formControlName="aguaRelativa" inputId="locale-user" [minFractionDigits]="2" />
                <label for="aguaRelativa">Agua Relativa</label>
            </p-floatlabel>
        </p-inputgroup>
    </div>
    <br />
    <br />
    <div class="flex flex-col md:flex-row gap-6">
        <p-inputgroup>
            <p-inputgroup-addon>
                <mat-icon>calendar_today</mat-icon>
            </p-inputgroup-addon>
            <p-floatlabel>
                <input   pInputText type="date" id="fechaEnsayo" formControlName="fechaEnsayo" pTooltip="Ingrese el fecha " tooltipPosition="bottom" [max]="hoy" />

         
                <label for="fechaEnsayo">Fecha Ensayo</label>
            </p-floatlabel>
        </p-inputgroup>

         <p-inputgroup>
            <p-inputgroup-addon>
                <mat-icon>science</mat-icon>
            </p-inputgroup-addon>
            <p-floatlabel>
                <input pInputText id="observaciones" formControlName="observaciones" pTooltip="Ingrese el Observaciones" tooltipPosition="bottom" />
                <label for="observaciones">Observaciones</label>
            </p-floatlabel>
        </p-inputgroup>

    </div>
<br>
    
      <div class="flex flex-col md:flex-row gap-6">
       
        <p-inputgroup>
         
            <p-floatlabel>
                <p-fileUpload
                    name="demo[]"
                    url="https://www.primefaces.org/cdn/api/upload.php"
                    (onUpload)="onUpload($event)"
                    [multiple]="true"
                    chooseLabel="Seleccionar Archivos"
                    cancelLabel="Cancelar"
                    uploadLabel="Subir"
                    accept="image/*,application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                >
                    <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>
              
            </p-floatlabel>
        </p-inputgroup>
    </div>
    <br />
    <br />
    <p-button label="Guardar" icon="pi pi-check" type="submit" severity="success" [disabled]="!form.valid" [loading]="loading"></p-button>
</form>
