<form (submit)="onSubmit(modelo.id_FisicoQuimico)" [formGroup]="form">
    <br />
    <div class="flex flex-col md:flex-row gap-6">
        <p-inputgroup>
            <p-inputgroup-addon>
                <span class="material-symbols-outlined">kV </span>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="rigidezDialectrica" inputId="locale-user" [minFractionDigits]="2"  pTooltip="Rigidez dieléctrica (IEC 60156)" tooltipPosition="bottom"/>

                <label for="rigidezDialectrica">Rigidez Dielectrica</label>
            </p-floatlabel>
        </p-inputgroup>
        <p-inputgroup>
            <p-inputgroup-addon>
                <span class="material-symbols-outlined">90°</span>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="tangenteDelta" inputId="locale-user" [minFractionDigits]="5"  pTooltip="Tangente delta a 90° C (IEC 60247)" tooltipPosition="bottom"/>

                <label for="tangenteDelta">Tangente</label>
            </p-floatlabel>
        </p-inputgroup>

        <p-inputgroup>
            <p-inputgroup-addon>
                <span class="material-symbols-outlined"> din/cm </span>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="tensionInterfasial" inputId="locale-user" [minFractionDigits]="2" pTooltip="Tensión interfasial (ASTM D 971)" tooltipPosition="bottom" />

                <label for="tensionInterfasial">Tensión interfasial</label>
            </p-floatlabel>
        </p-inputgroup>

        <p-inputgroup>
            <p-inputgroup-addon>
                <span class="material-symbols-outlined"> ppm </span>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber (ngModelChange)="completarAgua()" formControlName="humedadAceite" inputId="locale-user" [minFractionDigits]="2" pTooltip="Humedad en aceite (ASTM D 1533)" tooltipPosition="bottom"  />

                <label for="humedadAceite">Humedad</label>
            </p-floatlabel>
        </p-inputgroup>
    </div>
    <br />
    <br />
    <div class="flex flex-col md:flex-row gap-6">
        <p-inputgroup>
            <p-inputgroup-addon>
                <span class="material-symbols-outlined">KOH/g </span>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="indiceNeutralizacion" inputId="locale-user" [minFractionDigits]="2" pTooltip="Índice de neutralización (ASTM D 974)" tooltipPosition="bottom" />
                <label for="indiceNeutralizacion">Índice neutralización</label>
            </p-floatlabel>
        </p-inputgroup>

        <p-inputgroup>
            <p-inputgroup-addon>
                <span class="material-symbols-outlined"> %peso </span>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="contenidoInhibador" inputId="locale-user" [minFractionDigits]="2" pTooltip="Contenido de inhibidor (IEC 60666)" tooltipPosition="bottom"/>

                <label for="inhibidor">Inhibidor</label>
            </p-floatlabel>
        </p-inputgroup>
        <p-inputgroup>
            <p-inputgroup-addon>
                <span class="material-symbols-outlined">ISO4406</span>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="contenidoParticulas" inputId="locale-user" [minFractionDigits]="2" pTooltip="Contenido de partículas (IEC 60970)" tooltipPosition="bottom"/>

                <label for="contenidoParticulas">Contenido de partículas</label>
            </p-floatlabel>
        </p-inputgroup>
    </div>
    <br />
    <br />

    <div class="flex flex-col md:flex-row gap-6">
        <p-inputgroup>
            <p-inputgroup-addon>
                <span class="material-symbols-outlined">ppm</span>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="contenidoBifenilos" inputId="locale-user" [minFractionDigits]="2"  pTooltip="Contenido de bifelino policlorados(PCB) (ASTM D4059)" tooltipPosition="bottom"/>

                <label for="contenidoBifenilos">Contenido PCB </label>
            </p-floatlabel>
        </p-inputgroup>

        <p-inputgroup>
            <p-inputgroup-addon>
                <mat-icon>water_drop</mat-icon>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="aguaCorregida" inputId="locale-user" [minFractionDigits]="2" />
                <label for="aguaCorregida">Agua Corregida</label>
            </p-floatlabel>
        </p-inputgroup>
        <p-inputgroup>
            <p-inputgroup-addon>
                <mat-icon>invert_colors</mat-icon>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="aguaRelativa" inputId="locale-user" [minFractionDigits]="2" />
                <label for="aguaRelativa">Agua Relativa</label>
            </p-floatlabel>
        </p-inputgroup>
        <p-inputgroup>
            <p-inputgroup-addon>
                <mat-icon>calendar_today</mat-icon>
            </p-inputgroup-addon>
            <p-floatlabel>
                <input pInputText type="date" id="fechaEnsayo" formControlName="fechaEnsayo" pTooltip="Ingrese el fecha " tooltipPosition="bottom" [max]="hoy" />

                <label for="fechaEnsayo">Fecha Ensayo</label>
            </p-floatlabel>
        </p-inputgroup>
    </div>
    <br />
    <br />
    <div class="flex flex-col md:flex-row gap-6">
        

        <p-inputgroup>
            <p-inputgroup-addon>
                <mat-icon>info</mat-icon>
            </p-inputgroup-addon>
            <p-floatlabel>
                <input pInputText id="observaciones" formControlName="observaciones" pTooltip="Ingrese el Observaciones" tooltipPosition="bottom" />
                <label for="observaciones">Observaciones</label>
            </p-floatlabel>
        </p-inputgroup>
    </div>
    <br />

    <div class="flex flex-col md:flex-row gap-6">
        <p-inputgroup>
            <p-floatlabel>
                <p-fileUpload
                    name="demo[]"
                    url="https://www.primefaces.org/cdn/api/upload.php"
                    (onUpload)="onUpload($event)"
                    [multiple]="true"
                    chooseLabel="Seleccionar Archivos"
                    cancelLabel="Cancelar"
                    uploadLabel="Subir"
                    accept="image/*,application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                >
                    <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>
            </p-floatlabel>
        </p-inputgroup>
    </div>
    <br />
    <br />
    <p-button label="Guardar" icon="pi pi-check" type="submit" severity="success" [disabled]="!form.valid" [loading]="loading"></p-button>
</form>
