<p-toast></p-toast>
<app-breadcrumb-router [items]="items"></app-breadcrumb-router>
<p-card>
    <div class="font-medium text-2xl text-900 mb-3" style="text-align: center">Datos de la Orden de Ensayo N° {{ modelo?.numeroOrden }}</div>
    <p-tabs value="Datos">
        <p-tablist>
            <p-tab value="0">Datos</p-tab>
            <p-tab value="1">Analisis</p-tab>
            <p-tab value="2">Bitacora</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <p-card>
                    <li class="flex align-items-center py-3 px-2 flex-wrap surface-ground">
                        <div class="text-500 w-full md:w-2 font-medium">Estado</div>
                        <div class="text-900 w-full md:w-10">{{ modelo?.estado }}</div>
                    </li>
                    <li class="flex align-items-center py-3 px-2 flex-wrap surface-ground">
                        <div class="text-500 w-full md:w-2 font-medium">id_Equipo</div>
                        <div class="text-900 w-full md:w-10">{{ modelo?.id_Equipo }}</div>
                    </li>
                    <li class="flex align-items-center py-3 px-2 flex-wrap surface-ground">
                        <div class="text-500 w-full md:w-2 font-medium">id_Laboratorio</div>
                        <div class="text-900 w-full md:w-10">{{ modelo?.id_Laboratorio }}</div>
                    </li>
                    <li class="flex align-items-center py-3 px-2 flex-wrap surface-ground">
                        <div class="text-500 w-full md:w-2 font-medium">Creador</div>
                        <div class="text-900 w-full md:w-10"><b>Usuario:</b> {{ modelo?.nombreUsuario }} &nbsp;&nbsp;<b>Email:</b> {{ modelo?.emailUsuario }} </div>
                    </li>
                  
                    <li class="flex align-items-center py-3 px-2 flex-wrap surface-ground">
                        <div class="text-500 w-full md:w-2 font-medium">Fechas</div>
                        <div class="text-900 w-full md:w-10"><b>Creación: </b>{{ modelo?.fechaCreacion }}&nbsp;&nbsp; <span *ngIf="modelo?.fechaFinalizacion!=''"><b>Finalización: </b>{{ modelo?.fechaFinalizacion }} </span> </div>
                    </li>
                 
                    <li class="flex align-items-center py-3 px-2 flex-wrap surface-ground">
                        <div class="text-500 w-full md:w-2 font-medium">Extracción</div>
                        <div class="text-900 w-full md:w-10"><span *ngIf="modelo?.fechaPedidoExtraccion!=''"><b>Pedido Extracción: </b>{{ modelo?.fechaPedidoExtraccion }} &nbsp;&nbsp;</span><span *ngIf="modelo?.fechaPedidoExtraccion!=''"> <b>Extracción:</b> {{ modelo?.fechaExtraccion }}</span> </div>
                    </li>
                    <li class="flex align-items-center py-3 px-2 flex-wrap surface-ground">
                        <div class="text-500 w-full md:w-2 font-medium">Cuba</div>
                        <div class="text-900 w-full md:w-10">{{ modelo?.cuba }} <span *ngIf="modelo?.temperatura!='0'">({{ modelo?.temperatura }}°) </span></div>
                    </li>
                   
                    <li class="flex align-items-center py-3 px-2 flex-wrap surface-ground">
                        <div class="text-500 w-full md:w-2 font-medium">Observaciones</div>
                        <div class="text-900 w-full md:w-10">{{ modelo?.observaciones }}</div>
                    </li>
                    <li class="flex align-items-center py-3 px-2 flex-wrap surface-ground">
                        <div class="text-500 w-full md:w-2 font-medium">TipoAceite</div>
                        <div class="text-900 w-full md:w-10">{{ modelo?.tipoAceite }} (inhibido: {{ modelo?.inhibido }} )</div>
                    </li>
                    <li class="flex align-items-center py-3 px-2 flex-wrap surface-ground">
                        <div class="text-500 w-full md:w-2 font-medium">Inhibido</div>
                        <div class="text-900 w-full md:w-10"></div>
                    </li>
                   
                   
                  
                    <li class="flex align-items-center py-3 px-2 flex-wrap surface-ground">
                        <div class="text-500 w-full md:w-2 font-medium">Laboratista</div>
                        <div class="text-900 w-full md:w-10">{{ modelo?.nombreLaboratista }} {{ modelo?.emailLaboratista }}</div>
                    </li>
                   
                    <br />
                    <p-button icon="pi pi-pencil" class="mr-2" (onClick)="editar(modelo.id_OrdenEnsayo)" label="Editar" [outlined]="true" [rounded]="true"></p-button>
                    <p-button icon="pi pi-trash" (onClick)="openDelete(modelo.id_OrdenEnsayo)" severity="danger" label="Eliminar" [rounded]="true" [outlined]="true"></p-button>
                    <p-dialog [(visible)]="visibleDelete" appendTo="body" [modal]="true" [breakpoints]="{ '960px': '75vw', '640px': '100vw' }" [style]="{ width: '40vw' }">
                        <ng-template pTemplate="header">
                            <div class="flex align-items-center">
                                <span class="flex align-items-center justify-content-center bg-cyan-100 text-cyan-800 mr-3 border-circle" style="width: 32px; height: 32px">
                                    <i class="pi pi-times text-lg"></i>
                                </span>
                                <span class="font-medium text-2xl text-900">Esta Seguro de Eliminar la Orden de Ensayo</span>
                            </div>
                        </ng-template>
                        <p class="line-height-3 p-0 m-0">
                            Esta por eliminar el OrdenEnsayo {{ modelo?.numeroOrden }}. <br />
                            Esta acción no se puede deshacer. <br />
                        </p>

                        <br />
                        <div class="border-top-1 surface-border pt-3">
                            <button pButton pRipple icon="pi pi-times" (click)="eliminar(idDelete)" label="Cancel" class="p-button-text"></button>
                            <button pButton pRipple icon="pi pi-check" (click)="closeDelete()" label="Save"></button>
                        </div>
                    </p-dialog>
                </p-card>
            </p-tabpanel>
            <p-tabpanel value="1">
                
               <app-agd-detalle [id]="modelo.id_OrdenEnsayo" ></app-agd-detalle>
            </p-tabpanel>
            <p-tabpanel value="2">
                <p class="m-0"></p>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</p-card>
