<p-toast></p-toast>
<p-card>
    <app-breadcrumb-router [items]="items"></app-breadcrumb-router>

    <p-toolbar styleClass="mb-6">
        <ng-template #start>
            <div class="flex">
                <p-button label="Limpiar" icon="pi pi-filter-slash" severity="primary" (click)="clear(dt1)" [rounded]="true" [outlined]="true" />
                &nbsp;

                <p-button label="Exportar" icon="pi pi-file-excel" severity="info" (onClick)="exportExcel(dt1)" [rounded]="true" [outlined]="true" />
            </div>
        </ng-template>

        <ng-template #end>
            <p-iconfield iconPosition="left" class="ml-auto">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText type="text" (input)="applyGlobalFilterToDataTable($event, dt1)" placeholder="Buscar ..." />
            </p-iconfield>
        </ng-template>
    </p-toolbar>

    <p-table
        styleClass="p-datatable-gridlines"
        #dt1
        [value]="modelo"
        dataKey="id"
        [rows]="10"
        showGridlines
        stripedRows
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        [paginator]="true"
        [tableStyle]="{ 'min-width': '35rem' }"
        [resizableColumns]="true"
        [globalFilterFields]="['nombreTipoAnalisis', 'descripcion']"
        currentPageReportTemplate="Mostrando {first} de {last} de un total de {totalRecords} registros"
    >
        <ng-template #header>
            <tr>
               

                <th pResizableColumn pSortableColumn="nombreTipoAnalisis">
                    <div class="flex items-center">
                        Nombre
                        <p-columnFilter type="text" field="nombreTipoAnalisis" display="menu" />
                    </div>
                </th>

                <th pResizableColumn pSortableColumn="descripcion">
                    <div class="flex items-center">
                        Descripcion
                        <p-columnFilter type="text" field="descripcion" display="menu" />
                    </div>
                </th>

                <th pResizableColumn>
                    <div class="flex items-center">Acciones</div>
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-orden>
            <tr>
                
                <td class="cursor-pointer hover:!bg-neutral-200/20" (click)="ir(orden.id_TipoAnalisis)">{{ orden.nombreTipoAnalisis }}</td>
                <td class="cursor-pointer hover:!bg-neutral-200/20" (click)="ir(orden.id_TipoAnalisis)">{{ orden.descripcion }}</td>
                <td>
                    <p-button  class="mr-2" (onClick)="editar(orden.id_TipoAnalisis)" [rounded]="true" [outlined]="true" size="small" > <mat-icon>edit</mat-icon></p-button>

                   
                    <p-button  class="mr-2" (onClick)="ir(orden.id_TipoAnalisis)" [rounded]="true" [outlined]="true" size="small" ><mat-icon>info</mat-icon></p-button>
                   
                </td>
            </tr>
           
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [colSpan]="5">No se encontraron Tipos registradas</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
