<app-agd-editar *ngIf="editar" [id]="id"></app-agd-editar>
<app-agd-editar *ngIf="vacio" [id]="id"></app-agd-editar>
<app-agd-detalle [estado]="estado" *ngIf="detalle" [id]="id"></app-agd-detalle>

<p-divider></p-divider>
<p-button *ngIf="!vacio && editar" icon="pi pi-times" (onClick)="verDetalles()" class="mr-2"  label="Cancelar" [severity]="'warn'" [rounded]="true"></p-button>

<p-button *ngIf="!vacio && detalle && estado=='En Proceso'" icon="pi pi-pencil" (onClick)="editarAgd()" class="mr-2"  label="Editar" [severity]="'warn'" [rounded]="true"></p-button>
