<form [formGroup]="form">
    <br />
     <br />
    <div class="flex flex-col md:flex-row gap-6">
        <p-inputgroup>
            <p-inputgroup-addon>
                <span class="material-symbols-outlined">kV </span>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="rigidezDialectrica" inputId="locale-user" [minFractionDigits]="2" readonly/>

                <label for="rigidezDialectrica">Rigidez Dielectrica</label>
            </p-floatlabel>
        </p-inputgroup>
        <p-inputgroup>
            <p-inputgroup-addon>
                <span class="material-symbols-outlined">90°</span>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="tangenteDelta" inputId="locale-user" [minFractionDigits]="5" readonly/>

                <label for="tangenteDelta">Tangente delta a 90° C (IEC 60247)</label>
            </p-floatlabel>
        </p-inputgroup>

        <p-inputgroup>
            <p-inputgroup-addon>
                <span class="material-symbols-outlined"> din/cm </span>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="tensionInterfasial" inputId="locale-user" [minFractionDigits]="2" readonly/>

                <label for="tensionInterfasial">Tensión interfasial (ASTM D 971)</label>
            </p-floatlabel>
        </p-inputgroup>

        <p-inputgroup>
            <p-inputgroup-addon>
                <span class="material-symbols-outlined"> ppm </span>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber  formControlName="humedadAceite" inputId="locale-user" [minFractionDigits]="2"  readonly/>

                <label for="humedadAceite">Humedad en aceite (ASTM D 1533)</label>
            </p-floatlabel>
        </p-inputgroup>
    </div>
    <br />
    <br />
    <div class="flex flex-col md:flex-row gap-6">
        <p-inputgroup>
            <p-inputgroup-addon>
                <span class="material-symbols-outlined">KOH/g </span>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="indiceNeutralizacion" inputId="locale-user" [minFractionDigits]="2" readonly/>
                <label for="indiceNeutralizacion">Índice de neutralización (ASTM D 974)</label>
            </p-floatlabel>
        </p-inputgroup>

        <p-inputgroup>
            <p-inputgroup-addon>
                <span class="material-symbols-outlined"> %peso </span>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="contenidoInhibador" inputId="locale-user" [minFractionDigits]="2" readonly/>

                <label for="inhibidor">Contenido de inhibidor (IEC 60666)</label>
            </p-floatlabel>
        </p-inputgroup>
    </div>
    <br />
    <br />

    <div class="flex flex-col md:flex-row gap-6">
        <p-inputgroup>
            <p-inputgroup-addon>
                <span class="material-symbols-outlined">ISO4406</span>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="contenidoParticulas" inputId="locale-user" [minFractionDigits]="2" readonly/>

                <label for="contenidoParticulas">Contenido de partículas (IEC 60970)</label>
            </p-floatlabel>
        </p-inputgroup>

        <p-inputgroup>
            <p-inputgroup-addon>
                <span class="material-symbols-outlined">ppm</span>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="contenidoBifenilos" inputId="locale-user" [minFractionDigits]="2" readonly/>

                <label for="contenidoBifenilos">Contenido de BIFENILOS POLICLORADOS (PCB) (ASTM D4059)</label>
            </p-floatlabel>
        </p-inputgroup>

        <p-inputgroup>
            <p-inputgroup-addon>
                <mat-icon>water_drop</mat-icon>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="aguaCorregida" inputId="locale-user" [minFractionDigits]="2" readonly/>
                <label for="aguaCorregida">Agua Corregida</label>
            </p-floatlabel>
        </p-inputgroup>
        <p-inputgroup>
            <p-inputgroup-addon>
                <mat-icon>invert_colors</mat-icon>
            </p-inputgroup-addon>
            <p-floatlabel>
                <p-inputnumber formControlName="aguaRelativa" inputId="locale-user" [minFractionDigits]="2" readonly/>
                <label for="aguaRelativa">Agua Relativa</label>
            </p-floatlabel>
        </p-inputgroup>
    </div>
    <br />
    <br />
    <div class="flex flex-col md:flex-row gap-6">
       
        <p-inputgroup>
            <p-inputgroup-addon>
                <mat-icon>science</mat-icon>
            </p-inputgroup-addon>
            <p-floatlabel>
                <input pInputText id="observaciones" formControlName="observaciones" pTooltip="Ingrese el Observaciones" tooltipPosition="bottom" />
                <label for="observaciones">Observaciones</label>
            </p-floatlabel>
        </p-inputgroup>
    </div>
    <br />

       <li class="flex align-items-center py-3 px-2 flex-wrap surface-ground">
        <div class="text-500 w-full md:w-2 font-medium">Fecha de Ensayo</div>
        <div class="text-900 w-full md:w-10">{{ modelo?.fechaEnsayo }}</div>
    </li>
    <li class="flex align-items-center py-3 px-2 flex-wrap surface-ground">
        <div class="text-500 w-full md:w-2 font-medium">Fecha de Subida</div>
        <div class="text-900 w-full md:w-10">{{ modelo?.fechaSubida }}</div>
    </li>
    <li class="flex align-items-center py-3 px-2 flex-wrap surface-ground">
        <div class="text-500 w-full md:w-2 font-medium">Link Archivo</div>
        <div class="text-900 w-full md:w-10"><p-button (onClick)="link(modelo?.linkArchivo)" icon="pi pi-file"></p-button></div>
    </li>
    <br />

    <p-button *ngIf="puedeEditar" icon="pi pi-trash" (onClick)="openDelete(modelo?.id_FisicoQuimico)" severity="danger" label="Eliminar" [rounded]="true"></p-button>
    &nbsp;
  <button pButton pRipple label="Diagnostico" (click)="diagnostico(modelo.id_FisicoQuimico)"></button>
    <p-dialog [(visible)]="visibleDelete" appendTo="body" [modal]="true" [breakpoints]="{ '960px': '75vw', '640px': '100vw' }" [style]="{ width: '40vw' }">
        <ng-template pTemplate="header">
            <div class="flex align-items-center">
                <span class="flex align-items-center justify-content-center bg-cyan-100 text-cyan-800 mr-3 border-circle" style="width: 32px; height: 32px">
                    <i class="pi pi-times text-lg"></i>
                </span>
                <span class="font-medium text-2xl text-900">Esta Seguro de Eliminar Fisico Quimico</span>
            </div>
        </ng-template>
        <p class="line-height-3 p-0 m-0">
            Esta por eliminar el Contenido Furano <br />
            Esta acción no se puede deshacer. <br />
        </p>

        <br />
        <div class="border-top-1 surface-border pt-3">
            <button pButton pRipple icon="pi pi-times" (click)="eliminar(idDelete)" label="Cancel" class="p-button-text"></button>
            <button pButton pRipple icon="pi pi-check" (click)="closeDelete()" label="Save"></button>
        </div>
    </p-dialog>

    <p-dialog [(visible)]="visible3" appendTo="body" [modal]="true"  [style]="{width: '65vw'}" header="Diagnostico del Analísis Fisico Quimico"
    [draggable]="false" [resizable]="true" [maximizable]="true">
 
    <div *ngIf="loading">
      <h5>Generando el reporte, esto puede demorar unos minutos</h5>
    <p-skeleton styleClass="mb-2" />
    <p-skeleton styleClass="mb-2" />
    <p-skeleton styleClass="mb-2" />
  </div>
        <p class="text-700 line-height-3 m-0 p-5 w-full md:w-8" id="just-line-break" >
          {{diag}}
        </p>
   
    <ng-template pTemplate="footer">
        <div class="border-top-1 surface-border pt-3">
            <button pButton pRipple icon="pi pi-times" (click)="visible3 = false" label="Cancel" class="p-button-text"></button>
           
        </div>
    </ng-template>
</p-dialog>
</form>
