<app-contenido-editar *ngIf="editar" [id]="id"></app-contenido-editar>
<app-contenido-editar *ngIf="vacio" [id]="id"></app-contenido-editar>
<app-contenido-detalle *ngIf="detalle" [id]="id"></app-contenido-detalle>
<p-divider></p-divider>
<p-button *ngIf="!vacio && editar" icon="pi pi-times" (onClick)="verDetalles()" class="mr-2"  label="Cancelar" [severity]="'warn'"  [rounded]="true"></p-button>
<p-button *ngIf="!vacio && detalle" icon="pi pi-pencil" (onClick)="edit()" class="mr-2"  label="Editar" [severity]="'warn'"  [rounded]="true"></p-button>
