<form [formGroup]="formGroup">
    <div class="flex flex-col">
    
            <p-toolbar [style]="{ 'border-radius': '1rem', padding: '1.5rem 1rem 1rem 1.5rem' }">
                <ng-template #start>
                    <p-button icon="pi pi-print" (onClick)="print()" class="mr-2" severity="secondary" text />
                    <p-button icon="pi pi-filter-slash" severity="secondary" text (onClick)="ngOnInit()" />
                </ng-template>

                <ng-template #center>
                    <p-floatlabel>
                        <label style="margin-left: 1rem" htmlFor="Empresa">Tipo de Equipo</label>
                        <div class="p-float-label">
                            <p-dropdown
                                [style]="{ width: '100%' }"
                                class="formTriple"
                                (onClick)="onChange()"
                                [options]="tipoEquipo"
                                id="Empresa"
                                formControlName="equipo"
                                [required]
                                optionLabel="tipo"
                                optionValue="key"
                                placeholder="Tipo de Equipo"
                            ></p-dropdown>
                        </div>
                    </p-floatlabel>

                    &nbsp;&nbsp;&nbsp;
                    <p-floatlabel>
                        <p-calendar selectionMode="range" [style]="{ width: '100%' }" [readonlyInput]="true" class="formTriple" />
                        <label style="margin-left: 1rem" htmlFor="Empresa">Por rango de Fecha*</label>
                    </p-floatlabel>
                    &nbsp;&nbsp;&nbsp;
                    <p-floatlabel>
                        <p-inputNumber id="id_OrdenEnsayo" class="formTriple" required formControlName="numero" />
                        <label style="margin-left: 1rem" htmlFor="id_OrdenEnsayo">Presión mayor a</label>
                    </p-floatlabel>
                    &nbsp;&nbsp;&nbsp;
                    <p-floatlabel>
                        <input pInputText id="id_OrdenEnsayo" class="formTriple" required type="number" formControlName="numero" />
                        <label style="margin-left: 1rem" htmlFor="id_OrdenEnsayo">Presión menor a</label>
                    </p-floatlabel>
                </ng-template>

                <ng-template #end></ng-template>
            </p-toolbar>
       
<br>
        <p-table
            #normasTable
            [value]="modelo"
            styleClass="p-datatable-sm"
            p-datatable-striped
            p-datatable-gridlines
            #dt1
            [rowHover]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[5, 10, 25, 50]"
            currentPageReportTemplate="Mostrando {first} de {last} de un total de {totalRecords} registros"
            [paginator]="true"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Equipo</th>
                    <th>Presión</th>
                    <th>Volumen</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-orden>
                <tr class="cursor-pointer hover:!bg-neutral-200/20" (click)="ir()">
                    <td>{{ orden.equipo }}</td>
                    <td>{{ orden.presion }}</td>
                    <td>{{ orden.volumen }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [colSpan]="5">Seleccione un tipo de Equipo para ver las Presiones</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</form>
